<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
<script type="text/javascript" src="../../static/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script type="text/javascript">
    var gid = {{ id }}
    var length = {{ length }}
    var now = {{ first_page }}
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $("img#i").bind("click", function(){
            if (now < length) {
                now += 1
                $("span#now").html(now)
                $(this).attr("src", "http://{{ host }}:8080/gallery/" + gid + "/" + now);
            }
        });
        $("img#f").bind("click", function(){
            now = 1
            $("span#now").html(now)
            $("img#i").attr("src", "http://{{ host }}:8080/gallery/" + gid + "/" + now);
        });
        $("img#p").bind("click", function(){
            if (now > 1) {
                now -= 1
                $("span#now").html(now)
                $("img#i").attr("src", "http://{{ host }}:8080/gallery/" + gid + "/" + now);
            }
        });
        $("img#n").bind("click", function(){
            if (now < length) {
                now += 1
                $("span#now").html(now)
                $("img#i").attr("src", "http://{{ host }}:8080/gallery/" + gid + "/" + now);
            }
        });
        $("img#l").bind("click", function(){
            now = length
            $("span#now").html(now)
            $("img#i").attr("src", "http://{{ host }}:8080/gallery/" + gid + "/" + now);
        });
        $("button#delete").click(function(){
            $.ajax({
                url: "/gallery/" + gid,
                type: "DELETE",
                success: function(result) {
                    // Do something with the result
                }
            });
        });
        $("input#update").click(function(){
            $(this).disabled="disabled"
            $.ajax({
				url: window.location.href,
				type: 'POST',
				data: "rating=" + getDefaultValue($("input#rating").val()) + "&translator=" + getDefaultValue($("input#translator").val()),
				success: function(response){
					if (response.success) {
					    window.location.reload()
					} else {
					    alert("修改失败！")
					}
				}
			});
        });
    });
</script>
</head>
<body style="text-align:center">
<div id="header">
    <h1>{{ name_n }}</h1>
    <h1>{{ name_j }}</h1>
</div>
<div id="main">
    <div id="info">
        <div id="info1">
            <table>
                <tbody>
                    <tr>
                        <td class="tdl">类型:</td>
                        <td class="tdr">{{ type }}</td>
                    </tr>
                    <tr>
                        <td class="tdl">语言:</td>
                        <td class="tdr">{{ language }}</td>
                    </tr>
                    <tr>
                        <td class="tdl">长度:</td>
                        <td class="tdr">{{ length }} 页</td>
                    </tr>
                    <tr>
                        <td class="tdl">评分:</td>
                        <td class="tdr">
                            <input class="ir" id="rating" type="number" name="rating" placeholder="请输入评分，0-100." value="{{ rating }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">汉化:</td>
                        <td class="tdr">
                            <input class="ir" id="translator" type="text" name="translator" placeholder="请输入汉化组" value="{{ translator }}"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="wl"></div>
            <div>
                <input class="ib" id="update" type="submit" value="提交更改">
                <input class="ib" id="delete" type="submit" value="删除画集">
            </div>
        </div>
        <div id="info2">
            <table>
                <tbody>
                    {%if authors%}
                    <tr>
                        <td class="tagtdl">作者:</td>
                        <td class="tagtdr">
                            {% for author in authors %}
                            <div class="tag" style="opacity:1.0">{{ author.name }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {%if groups%}
                    <tr>
                        <td class="tagtdl">团体:</td>
                        <td class="tagtdr">
                            {% for group in groups %}
                            <div class="tag" style="opacity:1.0">{{ group.name }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {%if male_tags%}
                     <tr>
                        <td class="tagtdl">男性:</td>
                        <td class="tagtdr">
                            {% for tag in male_tags %}
                            <div class="tag" style="opacity:1.0">{{ tag.name }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {%if female_tags%}
                    <tr>
                        <td class="tagtdl">女性:</td>
                        <td class="tagtdr">
                            {% for tag in female_tags %}
                            <div class="tag" style="opacity:1.0">{{ tag.name }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {%if misc_tags%}
                    <tr>
                        <td class="tagtdl">其他:</td>
                        <td class="tagtdr">
                            {% for tag in misc_tags %}
                            <div class="tag" style="opacity:1.0">{{ tag.name }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="image">
        <div id="comic_img">
            <image id="i" src="http://{{ host }}:8080/gallery/{{ id }}/{{ first_page }}"/>
        </div>
    </div>
    <div id="footer">
        <img id="f" src="../../static/resources/first_page.png" />
        <img id="p" src="../../static/resources/pre_page.png" />
        <div><span id="now">1</span> / <span>{{ length }}</span></div>
        <img id="n" src="../../static/resources/next_page.png" />
        <img id="l" src="../../static/resources/last_page.png" />
    </div>
</div>
</body>

</html>