<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <tbody>
        <tr class="te">
            <td class="te_tdl">标签名称:</td><td class="te_tdr"><span id="te_name">{{ name }}</span></td>
        </tr>
        <tr class="te">
            <td class="te_tdl">标签类型:</td><td class="te_tdr"><span id="te_type"/>{{ type }}</td>
        </tr>
        <tr class="te">
            <td class="te_tdl">中文名称:</td><td class="te_tdr"><input id="te_text" value="{{ text }}"></td>
        </tr>
        <tr class="te">
            <td class="te_tdl" style="vertical-align: top">标签说明:</td><td class="te_tdr"><textarea id="te_info">{{ info }}</textarea></td>
        </tr>
    </tbody>
</table>
</body>
</html>