/* misc */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{font-size:8pt;font-family:arial,helvetica,sans-serif;color:#f1f1f1;background:#4f535b;margin:0px}

p {padding:3px 1px;margin:0}
img {border:0}
div.wl {background:white;width:100%;height:2px;margin-top:10px;margin-bottom:10px}


div#main {width:100%;overflow:hidden}

div#info {width:200px;float:left;font-size:12pt}

div#info1 {width:200px;position:fixed;padding:15px 5px 15px 5px}
div#info1 span {font-weight:bold;font-size:15pt}
td.tdl {font-weight:bold;width:30%}
td.tdr {width:70%;padding:5px 5px 5px 10px;text-align:left}
form#rating {margin:5px 0 0 0;padding:0;width:100%;height:25px;}
input#ir {float:left;width:60%;height:100%;font-size:12pt;color:#f1f1f1;background:#34353b;border:1px solid #000000;padding:2px 3px 2px 3px}
input#ir:enabled:hover {color:#f1f1f1;background:#43464e}
input#ir:enabled:focus {color:#f1f1f1;background:#43464e}
input#ir:disabled {color:#f1f1f1;background:#34353b}
input#ib {width:40%;height:100%;font-size:12pt;font-weight:bold;color:#f1f1f1;background:transparent;border:0;margin:0;cursor:pointer;padding:0}
input#ib:disabled {color:#f1f1f1;background:#34353b}

div#image {margin-left:200px;min-width:720px;background:#34353b;padding:15px 50px 15px 50px}
div#header {width:100%}
div#header h1 {font-size:20pt;font-weight:bold;-webkit-margin-before:0px;-webkit-margin-after:0px;-webkit-margin-start:0px;-webkit-margin-end: 0px;}
div#comic_img {width:100%;margin-top:15px}
div#comic_img img {width:100%}

div#footer {height:50px;background:#34353b;position:fixed;bottom:0;left:200px;right:0}
div#footer img {display:inline;height:30px;width:30px;margin-top:10px}
div#footer div {display:inline;height:30px;font-weight:bold;font-size:15px;position:relative;top:-9px;margin-left:10px;margin-right:10px}
