/* misc */
html {height:100%;margin:0;}
body{height:100%;font-size:8pt;font-family:arial,helvetica,sans-serif;color:#f1f1f1;background:#34353b;padding:2px;margin:0px}

p{padding:3px 1px;margin:0}
img{border:0}

div#info {height:100%;width:200px;height:100%;margin:0;float:left;background:#4f535b;font-size:12pt;overflow:hidden}
div#info span {width:100%;font-weight:bold;padding:10px}
td.tdl {font-weight:bold}

div#image {margin-left:200px;height:100%;min-width:720px;background:red}
div#header {font-size:10pt;width:100%}
div#comic_img {width:100%}
div#comic_img img {width:100%}
